.main_header {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 150px;
}

.top_nav {
  position: relative;
  margin: 40px 80px 0;
}

@media (min-width: 668px) {
  .logo {
    font-size: 8vw;
  }
}

.logo > a {
  background: white;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 0px 7px;
  color: black;
  font-size: 25px;
}

.logo > a:hover {
  color: rgba(0,0,0,0.5);
  text-decoration: none;
}

.inner_header {
  width: 100%;
  margin: 0 auto;
  max-width: 1360px;
}

ul, li, div, p {
  font-weight: 500;
  line-height: 1.6;
}

@media (min-width: 820px) {
  .logo {
    font-size: 4vw;
  }
}

@media (min-width: 1200px) {
  .logo {
    font-size: 2vw;
  }
}

a:hover {
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.content_academy_wrap {
  position: relative;
  padding: 150px 80px 80px 80px;
  width: 100%;
  display: block;
}

.content_academy_inner {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.title_form:after, .title_form:before {
  content: '';
  display: table;
  clear: both;
}

.col_9 {
  width: 72.5%;
  padding: 10px 0;
  display: block;
  float: left;
  margin-right: 5%;
}

.col_3 {
  padding: 10px 0;
  width: 22.5%;
  float: left;
  display: block;
}

.description_form:after, .description_form:before {
  content: '';
  display: table;
  clear: both;
}

.list_lecturers {
  background-color: #e6e6e6;
  padding: 20px 0;
}

@media (max-width: 819px) {
  .col_9, .col_3 {
    width: 100% !important;
  }
}

.layer {
  background-color: #e6e6e6;
}

.top_list {
  list-style: none;
}

.content_empty_wrap {
  position: relative;
  padding: 80px 80px 200px 80px;
  display: block;
  width: 100%;
  background-color: #e6e6e6;
}

.row_address {
  width: 100%;
  margin: 35px 0;
}

.col_name {
  width: 47.5%;
  display: block;
  float: left;
  margin-right: 5%;
}

.col_email {
  width: 47.5%;
  display: block;
  float: left;
}

.row_address:after, .row_address:before {
  content: '';
  display: table;
  clear: both;
}

@media (max-width: 819px) {
  .col_name, .col_email {
    width: 100% !important;
    margin: 20px 0;
  }
}

.card_wrap {
  position: relative;
  width: 250px;
  height: 320px;
  display: inline-block;
  background-color: white;
  margin: 1.5rem;
  border-radius: 1rem;
}

.group_card {
  position: relative;
  text-align: center;
  width: 100%;
}

.card_wrap:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

body {
  box-sizing: border-box;
}

.site_wrap {
  /*width: 100vw;*/
  /*height: 100vh;*/
  background-image: linear-gradient(-45deg,#ee7752, #eb6e80, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

@keyframes change {
  0%{
      background-position:0 50%;
  }
  50%{
      background-position:100% 50%;
  }
  100%{
      background-position:0 50%;
  }
}

img {
  position: relative;
  width: 100%;
  border-radius: 50%;
  height: 250px;
}

.info_form {
  position: relative;
  width: 100%;
}

.full_card_link:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
}

.info_form {
  color: black;
  border-top: rgba(0,0,0,0.3) thin solid;
}

